body {
	margin: 0px;
	background-color: transparent;
}

li {
	display: inline-block;
}

.background {
	/*position: absolute;
	z-index: -1;*/
}

#upper_blue_half {
	background-image: url(../images/bgtile.png);
	background-repeat: repeat-x;
	height: 280px;
	margin: 0;
}

#lower_white_half {
	background-color: #F5F6F8;
	height: 300px;
}

#page_content {
	background-color: transparent;
	width: 900px;
	margin: auto;
}

#phones_img {
	display: inline-block;
	float: left;
}

#not_phones {
	display: inline-block;
	float: right;
}

#brand {
	display: inline-block;
}

#house_login {
	display: inline-block;
	float: right;
}

#moments_text {
	background-image: url(../images/frame.png);
	background-repeat: no-repeat;
	height: 284px;
	width: 504px;
}

#footer_nav {
	text-decoration: none;
	display: inline;
}

#footer_nav_ul {
	display: inline-block;
}

#copyright {
	display: inline-block;
}

footer {
	background-color: #F5F6F8;
	text-align: center;
	clear: both;
}